.block-newsletter-form{       
	background-image: url(http://103.121.89.203/armania/pub/media/rokanthemes/newsletterformbackground/default/carpart-bg-newsletter.jpg); background-repeat: no-repeat; background-size: cover; color: #fff; background-attachment: fixed;}
